<h1>Your property</h1>
<h2>Search for my property</h2>
<p>
    Please use the search box below to search for your property.<br />
    Enter the name of one of your roommates to automatically link the property to your account!
</p>
<form>
    <label for="roommate_tokens">User's name:</label>
    <input type="text" name="roommate_tokens" id="roommate_tokens" >
</form>
<h2>New property</h2>

<%= render 'form' %>

<%= link_to 'Back', properties_path %>
