<div class="row">
    <h1 class="col-xs-12">Listing adverts</h1>
</div>

<div class="row">
    <% @adverts.each do |advert| %>
        <div class="col-sm-6 col-md-4">

                <% if advert.images.empty? %>
                    <div style="background: url(/assets/no-photo.png) no-repeat center;  background-size: 45%;" class="advert">
                <% else %>
                    <div style="background: url(/assets/<%= advert.images[0].name %>) no-repeat center;  background-size: cover;" class="advert">
                <% end %>
                        <div class="banner_top">
                            <% if advert.property_id == nil %>
                                <td>Error! An advert must have a property !</td>
                            <% else %>
                                <td><%= link_to advert.property.address, advert.property %></td>
                            <% end %>
                        </div>
                        <div class="banner_bottom">
                            <div class="price">
                                <strong><%= advert.rent %> €</strong>
                            </div>
                            <div class="author">
                                <% if advert.user_id == nil %>
                                    <td>Error! An advert must have an user !</td>
                                <% else %>
                                    <td><%= link_to advert.user.complete_name, advert.user %></td>
                                <% end %>
                            </div>
                        </div>
                    </div>
        </div>
    <% end %>
</div>
