<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>

    <h1>Welcome to the the best website to find you future accommodation or roommate!</h1>
    <p>You have successfully signed up.<br />
        You can know enjoy the full functionalities of the website!
    </p>
    <p>Hope to see you soon!</p>

    <hr />
    <p>
        Created by <a href="mailto:dimitri.labouesse@mydit.ie">Dimitri Labouesse</a> as a school project at DIT</a>.
        This project is available on <a href="https://github.com/dlabouesse/accommodationsapp.git">Github</a>.
    </p>

</body>
</html>
